* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}


h1 {
  margin: 30px 0 50px 0;
  text-align: center;
  font-size: 1.75em;
}

section {
  border: 1px solid black;
  height: 200px;
  margin: 0 10px 20px 10px;
  background-color: #999999;
}

p {
  margin-top: 40px;
  padding: 10px;
}

.title {
  border: 1px solid black;
  border-width: 0 0 1px 1px;
  float: right;
  width: 140px;
  padding: 3px;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
}

#chicken-section .title {
  background-color: #D59898;
}

#beef-section .title {
  background-color: #C14543;
  color: #FFFFFF;
}

#sushi-section .title {
  background-color: #E5D198;
}