body {
  padding-top: 70px;
}
.navbar {
  background-color: #E8E8E8;
}
.navbar-brand {
  font-weight: bold;
}
#navbar-menu {
  margin-top: 50px;
  text-align: center;
  background-color: #FFFFFF;
}
ul.navbar-nav {
  margin: 0;
}
li:hover {
  background-color: #F8F8F8;
}
hr {
  margin: 0;
}
li {
  font-weight: bold;
}
.section {
  background-color: #E8E8E8;
  padding: 10px;
  margin-bottom: 30px;

}
a.back-to-top {
  font-weight: bold;
  font-size: 1.2em;
}

