body {
  padding-top: 70px;
}
.navbar {
  background-color: #CCCCCC;
}
.navbar-brand {
  font-weight: bold;
}
#navbar-menu {
  margin-top: 50px;
  text-align: center;
  background-color: #F8F8F8;
}
hr {
  margin: 7px 0;
  color: 000000;
}
li {
  font-weight: bold;
}
#main-content {
  background-color: #CCCCCC;
}


@media (max-width: 767px) {

  #main-content {
    width: 90%;
    margin-left: 5%;
  }

}
